[Unit]
Description=Set unique hostname from MAC address (first boot)
After=sys-subsystem-net-devices-end0.device systemd-networkd.service
Before=systemd-resolved.service remote.it.service
ConditionPathExists=!/var/lib/set-hostname.done
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-hostname
ExecStartPost=/bin/touch /var/lib/set-hostname.done
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
