[Unit]
Description=Set unique hostname from MAC address (first boot)
After=systemd-udevd.service systemd-networkd.service
Before=systemd-resolved.service remote.it.service
ConditionPathExists=!/var/lib/set-hostname.done
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-hostname
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
